USE [master]
GO
/****** Object:  Database [SchoolManagementDB]    Script Date: 04-06-2026 15:57:51 ******/
CREATE DATABASE [SchoolManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SchoolManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SchoolManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolManagementDB]
GO
/****** Object:  UserDefinedTableType [dbo].[Student_Type]    Script Date: 04-06-2026 15:57:51 ******/
CREATE TYPE [dbo].[Student_Type] AS TABLE(
	[ClassId] [int] NULL,
	[StudentName] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Email] [varchar](150) NULL,
	[PhoneNumber] [varchar](15) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetStudentAttendanceCount]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetStudentAttendanceCount]
(
    @StudentId INT
)
RETURNS INT
AS
BEGIN

    DECLARE @Count INT

    SELECT @Count = COUNT(*)
    FROM tbl_Attendance
    WHERE StudentId = @StudentId

    RETURN @Count

END
GO
/****** Object:  Table [dbo].[mst_Class]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassGuid] [uniqueidentifier] NULL,
	[ClassName] [varchar](50) NOT NULL,
	[Section] [varchar](10) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Student]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentGuid] [uniqueidentifier] NULL,
	[ClassId] [int] NOT NULL,
	[StudentName] [varchar](100) NOT NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Email] [varchar](150) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StudentClassDetails]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StudentClassDetails]
AS
SELECT
    s.StudentId,
    s.StudentGuid,
    s.StudentName,
    s.Email,
    c.ClassName,
    c.Section
FROM mst_Student s
INNER JOIN mst_Class c
    ON s.ClassId = c.ClassId
WHERE s.IsActive = 1;
GO
/****** Object:  Table [dbo].[mst_Role]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleGuid] [uniqueidentifier] NULL,
	[RoleName] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Subject]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Subject](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectGuid] [uniqueidentifier] NULL,
	[SubjectName] [varchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Teacher]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Teacher](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherGuid] [uniqueidentifier] NULL,
	[SubjectId] [int] NOT NULL,
	[TeacherName] [varchar](100) NOT NULL,
	[Email] [varchar](150) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_User]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[RoleId] [int] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [varchar](500) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Attendance]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Attendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceGuid] [uniqueidentifier] NULL,
	[StudentId] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Exam]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Exam](
	[ExamId] [int] IDENTITY(1,1) NOT NULL,
	[ExamGuid] [uniqueidentifier] NULL,
	[SubjectId] [int] NOT NULL,
	[ExamName] [varchar](100) NOT NULL,
	[ExamDate] [date] NOT NULL,
	[TotalMarks] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FeePayment]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FeePayment](
	[FeePaymentId] [int] IDENTITY(1,1) NOT NULL,
	[FeePaymentGuid] [uniqueidentifier] NULL,
	[StudentId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PaymentStatus] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeePaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Result]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Result](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[ResultGuid] [uniqueidentifier] NULL,
	[StudentId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[ObtainedMarks] [int] NOT NULL,
	[Grade] [varchar](5) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassId]    Script Date: 04-06-2026 15:57:51 ******/
CREATE NONCLUSTERED INDEX [IX_ClassId] ON [dbo].[mst_Student]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentName]    Script Date: 04-06-2026 15:57:51 ******/
CREATE NONCLUSTERED INDEX [IX_StudentName] ON [dbo].[mst_Student]
(
	[StudentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TeacherName]    Script Date: 04-06-2026 15:57:51 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherName] ON [dbo].[mst_Teacher]
(
	[TeacherName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mst_Class] ADD  DEFAULT (newid()) FOR [ClassGuid]
GO
ALTER TABLE [dbo].[mst_Class] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Class] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (newid()) FOR [RoleGuid]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Student] ADD  DEFAULT (newid()) FOR [StudentGuid]
GO
ALTER TABLE [dbo].[mst_Student] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Student] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Subject] ADD  DEFAULT (newid()) FOR [SubjectGuid]
GO
ALTER TABLE [dbo].[mst_Subject] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Subject] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Teacher] ADD  DEFAULT (newid()) FOR [TeacherGuid]
GO
ALTER TABLE [dbo].[mst_Teacher] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Teacher] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT (newid()) FOR [UserGuid]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT (newid()) FOR [AttendanceGuid]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Attendance] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Exam] ADD  DEFAULT (newid()) FOR [ExamGuid]
GO
ALTER TABLE [dbo].[tbl_Exam] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Exam] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_FeePayment] ADD  DEFAULT (newid()) FOR [FeePaymentGuid]
GO
ALTER TABLE [dbo].[tbl_FeePayment] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_FeePayment] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Result] ADD  DEFAULT (newid()) FOR [ResultGuid]
GO
ALTER TABLE [dbo].[tbl_Result] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Result] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[mst_Class] ([ClassId])
GO
ALTER TABLE [dbo].[mst_Student] CHECK CONSTRAINT [FK_Student_Class]
GO
ALTER TABLE [dbo].[mst_Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[mst_Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[mst_Teacher] CHECK CONSTRAINT [FK_Teacher_Subject]
GO
ALTER TABLE [dbo].[mst_User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[mst_Role] ([RoleId])
GO
ALTER TABLE [dbo].[mst_User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[tbl_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[mst_Student] ([StudentId])
GO
ALTER TABLE [dbo].[tbl_Attendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[tbl_Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[mst_Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[tbl_Exam] CHECK CONSTRAINT [FK_Exam_Subject]
GO
ALTER TABLE [dbo].[tbl_FeePayment]  WITH CHECK ADD  CONSTRAINT [FK_FeePayment_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[mst_Student] ([StudentId])
GO
ALTER TABLE [dbo].[tbl_FeePayment] CHECK CONSTRAINT [FK_FeePayment_Student]
GO
ALTER TABLE [dbo].[tbl_Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Exam] FOREIGN KEY([ExamId])
REFERENCES [dbo].[tbl_Exam] ([ExamId])
GO
ALTER TABLE [dbo].[tbl_Result] CHECK CONSTRAINT [FK_Result_Exam]
GO
ALTER TABLE [dbo].[tbl_Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[mst_Student] ([StudentId])
GO
ALTER TABLE [dbo].[tbl_Result] CHECK CONSTRAINT [FK_Result_Student]
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_BulkInsert]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Student_BulkInsert]
(
    @Students Student_Type READONLY
)
AS
BEGIN
    BEGIN TRY

        BEGIN TRANSACTION

        INSERT INTO mst_Student
        (
            ClassId,
            StudentName,
            Gender,
            DateOfBirth,
            Email,
            PhoneNumber
        )
        SELECT
            ClassId,
            StudentName,
            Gender,
            DateOfBirth,
            Email,
            PhoneNumber
        FROM @Students;

        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

        ROLLBACK TRANSACTION

        THROW

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_GetAll]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Student_GetAll]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @StudentName NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM mst_Student
    WHERE IsActive = 1
      AND (
            @StudentName IS NULL
            OR StudentName LIKE '%' + @StudentName + '%'
          )
    ORDER BY StudentId
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_GetByGuid]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Student_GetByGuid]
(
    @StudentGuid UNIQUEIDENTIFIER
)
AS
BEGIN

    SELECT *
    FROM mst_Student
    WHERE StudentGuid = @StudentGuid
    AND IsActive = 1

END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_GetDetails]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Student_GetDetails]
AS
BEGIN

    SELECT
        S.StudentGuid,
        S.StudentName,
        S.Email,
        S.PhoneNumber,
        C.ClassName,
        C.Section
    FROM mst_Student S
    INNER JOIN mst_Class C
        ON S.ClassId = C.ClassId
    WHERE S.IsActive = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Insert]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Student_Insert]
(
    @ClassId INT,
    @StudentName VARCHAR(100),
    @Gender VARCHAR(10),
    @DateOfBirth DATE,
    @Email VARCHAR(150),
    @PhoneNumber VARCHAR(15),
    @CreatedBy INT
)
AS
BEGIN
    BEGIN TRY

        BEGIN TRANSACTION

        INSERT INTO mst_Student
        (
            ClassId,
            StudentName,
            Gender,
            DateOfBirth,
            Email,
            PhoneNumber,
            CreatedBy
        )
        VALUES
        (
            @ClassId,
            @StudentName,
            @Gender,
            @DateOfBirth,
            @Email,
            @PhoneNumber,
            @CreatedBy
        )

        COMMIT TRANSACTION

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION

        THROW

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Update]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Student_Update]
(
    @StudentGuid UNIQUEIDENTIFIER,
    @StudentName VARCHAR(100),
    @Email VARCHAR(150),
    @PhoneNumber VARCHAR(15),
    @UpdatedBy INT
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION

        UPDATE mst_Student
        SET
            StudentName = @StudentName,
            Email = @Email,
            PhoneNumber = @PhoneNumber,
            UpdatedOn = GETDATE(),
            UpdatedBy = @UpdatedBy
        WHERE StudentGuid = @StudentGuid

        COMMIT TRANSACTION

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION

        THROW

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_Teacher_GetAll]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Teacher_GetAll]
AS
BEGIN
    SELECT * FROM mst_Teacher;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Teacher_GetByGuid]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Teacher_GetByGuid]
(
    @TeacherGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SELECT *
    FROM mst_Teacher
    WHERE TeacherGuid = @TeacherGuid
      AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Teacher_Insert]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Teacher_Insert]
(
    @SubjectId INT,
    @TeacherName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @CreatedBy INT
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO mst_Teacher
    (
        TeacherGuid,
        SubjectId,
        TeacherName,
        Email,
        PhoneNumber,
        IsActive,
        CreatedOn,
        CreatedBy
    )
    VALUES
    (
        NEWID(),
        @SubjectId,
        @TeacherName,
        @Email,
        @PhoneNumber,
        1,
        GETDATE(),
        @CreatedBy
    );

    SELECT SCOPE_IDENTITY() AS TeacherId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Teacher_Update]    Script Date: 04-06-2026 15:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Teacher_Update]
(
    @TeacherGuid UNIQUEIDENTIFIER,
    @SubjectId INT,
    @TeacherName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @UpdatedBy INT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE mst_Teacher
    SET
        SubjectId = @SubjectId,
        TeacherName = @TeacherName,
        Email = @Email,
        PhoneNumber = @PhoneNumber,
        UpdatedOn = GETDATE(),
        UpdatedBy = @UpdatedBy
    WHERE TeacherGuid = @TeacherGuid;
END
GO
USE [master]
GO
